<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwef5wLhw03CHzMqZpwrlCjjG08FtNpKA</string>
	<key>GCM_SENDER_ID</key>
	<string>897880348917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleksandrKalashnikov.MoneyManager</string>
	<key>PROJECT_ID</key>
	<string>moneymanager-f233e</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanager-f233e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897880348917:ios:4b2fbad42e0539a8600dbc</string>
</dict>
</plist>